<!DOCTYPE html>
<html>
    <head>
        <title>Factux</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


        <style>
            body {
                background-color: #fdfbfb;
            }

            h1 {
                color: maroon;
                margin-left: 40px;
            }
        </style>


    </head>
    <body>
        <div>

            <table border width="80%" >
                <tr>
                    <td>
                        <h1>Estimado ser.</h1> 
                    </td>
                </tr>
                <tr>
                    <td>
                        <h2>Budget 2010</h2>
                        <h3>name: %name% lastname: %lastname%</h3>
                        <p>Aca tiene el presupuesto </p>
                        <p>Atentamente</p>
                        <p> </p>

                    </td>
                </tr>
                <tr>
                    <td>
                        %my_company_name%<br>
                        %my_company_address% <br>
                        Tel: %my_company_tel%

                    </td>
                </tr>
                <tr>
                    <td style='text-align:center; vertical-align:middle'>
                        Powered by <a href="https://factux.be">factux.be</a>
                    </td>
                </tr>
            </table>


        </div>
    </body>
</html>
