.u-section-1 .u-sheet-1 {
    min-height: 953px;
}

.u-section-1 .u-shape-1 {
    width: 574px;
    height: 913px;
    margin: 20px 0 0 auto;
}

.u-section-1 .u-image-1 {
    height: 532px;
    width: 935px;
    margin: -873px auto 0 0;
}

.u-section-1 .u-layout-wrap-1 {
    width: 977px;
    margin: -253px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
    min-height: 535px;
    background-image: none;
}

.u-section-1 .u-container-layout-1 {
    padding: 30px 50px;
}

.u-section-1 .u-text-1 {
    font-family: Baloo;
    font-size: 4.5rem;
    line-height: 1;
    margin: 0;
}

.u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin: 30px auto 0 0;
}

.u-section-1 .u-btn-1 {
    padding: 0;
}

.u-section-1 .u-btn-2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    background-image: none;
    border-style: none;
    margin: 27px auto 0 0;
}

.u-section-1 .u-layout-cell-2 {
    min-height: 113px;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px;
}

.u-section-1 .u-image-2 {
    min-height: 467px;
    background-image: url("/images/smiling-sanitary-technician-with-equipment_23-2147772247.jpg");
    background-position: 50% 0%;
}

.u-section-1 .u-container-layout-3 {
    padding: 30px;
}

@media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
        min-height: 905px;
    }

    .u-section-1 .u-shape-1 {
        width: 473px;
        height: 871px;
        margin-top: 17px;
    }

    .u-section-1 .u-image-1 {
        height: 473px;
        width: 771px;
        margin-top: -828px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 775px;
        margin-top: -221px;
        margin-bottom: 61px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 515px;
    }

    .u-section-1 .u-text-1 {
        font-size: 3.75rem;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 109px;
    }

    .u-section-1 .u-image-2 {
        min-height: 449px;
    }
}

@media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        min-height: 865px;
    }

    .u-section-1 .u-shape-1 {
        width: 364px;
        height: 865px;
    }

    .u-section-1 .u-image-1 {
        height: 488px;
        width: 618px;
        object-position: 72.08% 50%;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 645px;
        margin-top: -190px;
        margin-left: 38px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 506px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-1 .u-text-1 {
        font-size: 3rem;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 153px;
    }

    .u-section-1 .u-image-2 {
        min-height: 353px;
    }
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1664px;
    }

    .u-section-1 .u-shape-1 {
        height: 1610px;
        margin-top: 27px;
    }

    .u-section-1 .u-image-1 {
        height: 383px;
        width: 485px;
        margin-top: -1548px;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 480px;
        margin-top: -102px;
        margin-bottom: 11px;
        margin-left: 30px;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 472px;
    }

    .u-section-1 .u-text-1 {
        font-size: 3.75rem;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 334px;
    }

    .u-section-1 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-image-2 {
        min-height: 771px;
    }

    .u-section-1 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 1217px;
    }

    .u-section-1 .u-shape-1 {
        width: 294px;
        height: 1194px;
        margin-top: 11px;
        margin-right: -50px;
    }

    .u-section-1 .u-image-1 {
        height: 269px;
        margin-top: -1152px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-layout-wrap-1 {
        width: 309px;
        margin-top: -77px;
        margin-bottom: 41px;
        margin-left: 0;
    }

    .u-section-1 .u-layout-cell-1 {
        min-height: 456px;
    }

    .u-section-1 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-1 .u-text-1 {
        font-size: 2.25rem;
    }

    .u-section-1 .u-layout-cell-2 {
        min-height: 237px;
    }

    .u-section-1 .u-image-2 {
        min-height: 500px;
    }
}
.u-section-2 {
    background-image: none;
}

.u-section-2 .u-sheet-1 {
    min-height: 580px;
}

.u-section-2 .u-text-1 {
    margin: 25px auto 0;
}

.u-section-2 .u-gallery-1 {
    width: 700px;
    height: 438px;
    margin: 40px auto 25px;
}

.u-section-2 .u-carousel-item-1 {
    margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
    min-height: 100px;
    padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
    margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
    min-height: 100px;
    padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
    margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
    min-height: 100px;
    padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
    margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
    min-height: 100px;
    padding: 10px;
}

.u-section-2 .u-carousel-thumbnails-1 {
    padding-left: 10px;
}

.u-section-2 .u-carousel-thumbnail-1 {
    width: 100px;
    height: 100px;
}

.u-section-2 .u-carousel-thumbnail-2 {
    width: 100px;
    height: 100px;
}

.u-section-2 .u-carousel-thumbnail-3 {
    width: 100px;
    height: 100px;
}

.u-section-2 .u-carousel-thumbnail-4 {
    width: 100px;
    height: 100px;
}

.u-section-2 .u-carousel-control-1 {
    position: absolute;
    left: 13px;
    width: 40px;
    height: 40px;
    right: auto;
}

.u-section-2 .u-carousel-control-2 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: auto;
    right: 120px;
}

@media (max-width: 767px) {
    .u-section-2 .u-gallery-1 {
        width: 540px;
    }
}

@media (max-width: 575px) {
    .u-section-2 .u-gallery-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-2 .u-carousel-thumbnail-1 {
        width: 78px;
        height: 78px;
    }

    .u-section-2 .u-carousel-thumbnail-2 {
        width: 78px;
        height: 78px;
    }

    .u-section-2 .u-carousel-thumbnail-3 {
        width: 78px;
        height: 78px;
    }

    .u-section-2 .u-carousel-thumbnail-4 {
        width: 78px;
        height: 78px;
    }
}
.u-section-3 {
    background-image: none;
}

.u-section-3 .u-sheet-1 {
    min-height: 591px;
}

.u-section-3 .u-text-1 {
    margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
    margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
    grid-template-rows: repeat(1, auto);
    margin: 45px 0 60px;
}

.u-section-3 .u-repeater-1 {
    grid-template-columns: calc(25% - 18px) calc(25% - 18px) calc(25% - 18px) calc(25% - 18px);
    min-height: 665px;
    grid-gap: 24px 24px;
}

.u-section-3 .u-list-item-1 {
    background-image: none;
}

.u-section-3 .u-container-layout-1 {
    padding: 30px 20px;
}

.u-section-3 .u-icon-1 {
    height: 64px;
    width: 64px;
    margin: 0 auto;
}

.u-section-3 .u-text-3 {
    margin: 20px auto 0;
}

.u-section-3 .u-text-4 {
    margin: 20px 0 0;
}

.u-section-3 .u-btn-1 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.875rem;
    background-image: none;
    margin: 20px auto 0;
}

.u-section-3 .u-list-item-2 {
    background-image: none;
}

.u-section-3 .u-container-layout-2 {
    padding: 30px 20px;
}

.u-section-3 .u-icon-2 {
    height: 64px;
    width: 64px;
    margin: 0 auto;
}

.u-section-3 .u-text-5 {
    margin: 20px auto 0;
}

.u-section-3 .u-text-6 {
    margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.875rem;
    background-image: none;
    margin: 20px auto 0;
}

.u-section-3 .u-list-item-3 {
    background-image: none;
}

.u-section-3 .u-container-layout-3 {
    padding: 30px 20px;
}

.u-section-3 .u-icon-3 {
    height: 64px;
    width: 64px;
    margin: 0 auto;
}

.u-section-3 .u-text-7 {
    margin: 20px auto 0;
}

.u-section-3 .u-text-8 {
    margin: 20px 0 0;
}

.u-section-3 .u-btn-3 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.875rem;
    background-image: none;
    margin: 20px auto 0;
}

.u-section-3 .u-list-item-4 {
    background-image: none;
}

.u-section-3 .u-container-layout-4 {
    padding: 30px 20px;
}

.u-section-3 .u-icon-4 {
    height: 64px;
    width: 64px;
    margin: 0 auto;
}

.u-section-3 .u-text-9 {
    margin: 20px auto 0;
}

.u-section-3 .u-text-10 {
    margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.875rem;
    background-image: none;
    margin: 20px auto 0;
}

.u-section-3 .u-list-item-5 {
    background-image: none;
}

.u-section-3 .u-container-layout-5 {
    padding: 30px 20px;
}

.u-section-3 .u-icon-5 {
    height: 64px;
    width: 64px;
    margin: 0 auto;
}

.u-section-3 .u-text-11 {
    margin: 20px auto 0;
}

.u-section-3 .u-text-12 {
    margin: 20px 0 0;
}

.u-section-3 .u-btn-5 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.875rem;
    background-image: none;
    margin: 20px auto 0;
}

.u-section-3 .u-list-item-6 {
    background-image: none;
}

.u-section-3 .u-container-layout-6 {
    padding: 30px 20px;
}

.u-section-3 .u-icon-6 {
    height: 64px;
    width: 64px;
    margin: 0 auto;
}

.u-section-3 .u-text-13 {
    margin: 20px auto 0;
}

.u-section-3 .u-text-14 {
    margin: 20px 0 0;
}

.u-section-3 .u-btn-6 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.875rem;
    background-image: none;
    margin: 20px auto 0;
}

.u-section-3 .u-list-item-7 {
    background-image: none;
}

.u-section-3 .u-container-layout-7 {
    padding: 30px 20px;
}

.u-section-3 .u-icon-7 {
    height: 64px;
    width: 64px;
    margin: 0 auto;
}

.u-section-3 .u-text-15 {
    margin: 20px auto 0;
}

.u-section-3 .u-text-16 {
    margin: 20px 0 0;
}

.u-section-3 .u-btn-7 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.875rem;
    background-image: none;
    margin: 20px auto 0;
}

.u-section-3 .u-list-item-8 {
    background-image: none;
}

.u-section-3 .u-container-layout-8 {
    padding: 30px 20px;
}

.u-section-3 .u-icon-8 {
    height: 64px;
    width: 64px;
    margin: 0 auto;
}

.u-section-3 .u-text-17 {
    margin: 20px auto 0;
}

.u-section-3 .u-text-18 {
    margin: 20px 0 0;
}

.u-section-3 .u-btn-8 {
    border-style: none;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 0.875rem;
    background-image: none;
    margin: 20px auto 0;
}

@media (max-width: 1199px) {
    .u-section-3 .u-sheet-1 {
        min-height: 535px;
    }

    .u-section-3 .u-list-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-repeater-1 {
        grid-template-columns: repeat(4, calc(25% - 18px));
        min-height: 545px;
    }
}

@media (max-width: 991px) {
    .u-section-3 .u-sheet-1 {
        min-height: 944px;
    }

    .u-section-3 .u-list-1 {
        height: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-3 .u-repeater-1 {
        grid-template-columns: repeat(2, calc(50% - 12px));
        min-height: 1743px;
    }
}

@media (max-width: 767px) {
    .u-section-3 .u-repeater-1 {
        grid-template-columns: repeat(1, 100%);
    }

    .u-section-3 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-3 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-3 .u-container-layout-3 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-3 .u-container-layout-4 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-3 .u-container-layout-5 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-3 .u-container-layout-6 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-3 .u-container-layout-7 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-3 .u-container-layout-8 {
        padding-left: 30px;
        padding-right: 30px;
    }
}
.u-section-4 .u-sheet-1 {
    min-height: 710px;
}

.u-section-4 .u-layout-wrap-1 {
    margin: 60px auto 60px 0;
}

.u-section-4 .u-image-1 {
    min-height: 590px;
    background-image: url("/images/3bb027a6bb6a76395dcd4b70b226cbd379fda989f151a9d64e61faef1cede63280ad196fa1aecf9873df736a14b89669f288304e6f1a793fe834ad_1280.jpg");
    background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
    padding: 30px 60px;
}

.u-section-4 .u-layout-cell-2 {
    min-height: 590px;
}

.u-section-4 .u-container-layout-2 {
    padding: 30px 60px;
}

.u-section-4 .u-text-1 {
    margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
    margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: 2px;
    background-image: none;
    border-style: solid;
    margin: 20px auto 0 0;
    padding: 10px 34px;
}

@media (max-width: 1199px) {
    .u-section-4 .u-sheet-1 {
        min-height: 481px;
    }

    .u-section-4 .u-layout-wrap-1 {
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-4 .u-image-1 {
        min-height: 486px;
    }

    .u-section-4 .u-layout-cell-2 {
        min-height: 486px;
    }
}

@media (max-width: 991px) {
    .u-section-4 .u-sheet-1 {
        min-height: 367px;
    }

    .u-section-4 .u-image-1 {
        min-height: 372px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-left: 30px;
        padding-right: 30px;
    }

    .u-section-4 .u-layout-cell-2 {
        min-height: 100px;
    }

    .u-section-4 .u-container-layout-2 {
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media (max-width: 767px) {
    .u-section-4 .u-sheet-1 {
        min-height: 653px;
    }

    .u-section-4 .u-image-1 {
        min-height: 558px;
    }

    .u-section-4 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-4 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 575px) {
    .u-section-4 .u-sheet-1 {
        min-height: 446px;
    }

    .u-section-4 .u-image-1 {
        min-height: 351px;
    }
}
.u-section-5 .u-sheet-1 {
    min-height: 631px;
}

.u-section-5 .u-text-1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
    margin: 60px auto 0;
}

.u-section-5 .u-list-1 {
    margin-top: 60px;
    margin-bottom: 60px;
}

.u-section-5 .u-repeater-1 {
    grid-template-columns: calc(25% - 15px) calc(25% - 15px) calc(25% - 15px) calc(25% - 15px);
    min-height: 332px;
    grid-gap: 20px 20px;
}

.u-section-5 .u-list-item-1 {
    background-image: none;
}

.u-section-5 .u-container-layout-1 {
    padding: 30px;
}

.u-section-5 .u-image-1 {
    width: 137px;
    height: 137px;
    background-image: url("/images/44d5d282-18f7-4295-9493-b2865af9bf3d.jpg");
    background-position: 50% 50%;
    margin: 0 auto;
}

.u-section-5 .u-text-2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px auto 0;
}

.u-section-5 .u-text-3 {
    margin: 20px 0 0;
}

.u-section-5 .u-list-item-2 {
    background-image: none;
}

.u-section-5 .u-container-layout-2 {
    padding: 30px;
}

.u-section-5 .u-image-2 {
    width: 137px;
    height: 137px;
    background-image: url("/images/1.jpg");
    background-position: 50% 50%;
    margin: 0 auto;
}

.u-section-5 .u-text-4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px auto 0;
}

.u-section-5 .u-text-5 {
    margin: 20px 0 0;
}

.u-section-5 .u-list-item-3 {
    background-image: none;
}

.u-section-5 .u-container-layout-3 {
    padding: 30px;
}

.u-section-5 .u-image-3 {
    width: 137px;
    height: 137px;
    background-image: url("/images/ddddddd.jpg");
    background-position: 50% 50%;
    margin: 0 auto;
}

.u-section-5 .u-text-6 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px auto 0;
}

.u-section-5 .u-text-7 {
    margin: 20px 0 0;
}

.u-section-5 .u-list-item-4 {
    background-image: none;
}

.u-section-5 .u-container-layout-4 {
    padding: 30px;
}

.u-section-5 .u-image-4 {
    width: 137px;
    height: 137px;
    background-image: url("/images/26ad3ed2-3d8c-4eb0-9ed2-35095c7be833.jpg");
    background-position: 50% 50%;
    margin: 0 auto;
}

.u-section-5 .u-text-8 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1rem;
    margin: 20px auto 0;
}

.u-section-5 .u-text-9 {
    margin: 20px 0 0;
}

@media (max-width: 1199px) {
    .u-section-5 .u-repeater-1 {
        min-height: 273px;
    }
}

@media (max-width: 991px) {
    .u-section-5 .u-sheet-1 {
        min-height: 1008px;
    }

    .u-section-5 .u-repeater-1 {
        min-height: 712px;
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
    }
}

@media (max-width: 767px) {
    .u-section-5 .u-container-layout-1 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-5 .u-container-layout-2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-5 .u-container-layout-3 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-5 .u-container-layout-4 {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 575px) {
    .u-section-5 .u-text-1 {
        font-size: 2.25rem;
    }

    .u-section-5 .u-repeater-1 {
        grid-template-columns: 100%;
    }

    .u-section-5 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-5 .u-container-layout-2 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-5 .u-container-layout-3 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-5 .u-container-layout-4 {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.u-section-6 {
    background-image: none;
}

.u-section-6 .u-sheet-1 {
    min-height: 800px;
}

.u-section-6 .u-layout-wrap-1 {
    margin-top: 59px;
    margin-bottom: 59px;
}

.u-section-6 .u-image-1 {
    background-image: url("/images/smiling-sanitary-technician-with-equipment_23-2147772247.jpg");
    min-height: 682px;
    background-position: 50% 50%;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
}

.u-section-6 .u-container-layout-1 {
    padding: 50px;
}

.u-section-6 .u-layout-cell-2 {
    min-height: 682px;
}

.u-section-6 .u-container-layout-2 {
    padding: 30px;
}

.u-section-6 .u-text-1 {
    font-size: 2.25rem;
    margin: 3px auto 0 0;
}

.u-section-6 .u-list-1 {
    width: 417px;
    margin: 26px auto 0 0;
}

.u-section-6 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    min-height: 509px;
    grid-gap: 0px;
}

.u-section-6 .u-container-layout-3 {
    padding: 20px 30px 15px 0;
}

.u-section-6 .u-icon-1 {
    height: 22px;
    width: 22px;
    margin: 0 auto 0 0;
}

.u-section-6 .u-text-2 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.375rem;
    line-height: 1.1;
    margin: -22px 0 0 41px;
}

.u-section-6 .u-text-3 {
    font-size: 1.125rem;
    line-height: 2.2;
    font-weight: 600;
    margin: 18px 0 0 40px;
}

.u-section-6 .u-btn-1 {
    background-image: none;
    border-style: solid;
    padding: 0;
}

.u-section-6 .u-container-layout-4 {
    padding: 20px 30px 15px 0;
}

.u-section-6 .u-icon-2 {
    height: 22px;
    width: 22px;
    margin: 0 auto 0 0;
}

.u-section-6 .u-text-4 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.375rem;
    line-height: 1.1;
    margin: -22px 0 0 41px;
}

.u-section-6 .u-text-5 {
    font-size: 1.125rem;
    line-height: 2.2;
    font-weight: 600;
    margin: 18px 0 0 40px;
}

.u-section-6 .u-btn-2 {
    background-image: none;
    padding: 0;
}

.u-section-6 .u-container-layout-5 {
    padding: 20px 30px 15px 0;
}

.u-section-6 .u-icon-3 {
    height: 22px;
    width: 22px;
    margin: 0 auto 0 0;
}

.u-section-6 .u-text-6 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 1.375rem;
    line-height: 1.1;
    margin: -22px 0 0 41px;
}

.u-section-6 .u-text-7 {
    font-size: 1.125rem;
    line-height: 2.2;
    font-weight: 600;
    margin: 18px 0 0 40px;
}

.u-section-6 .u-btn-3 {
    border-style: solid;
    padding: 0;
}

@media (max-width: 1199px) {
    .u-section-6 .u-sheet-1 {
        min-height: 680px;
    }

    .u-section-6 .u-image-1 {
        min-height: 562px;
    }

    .u-section-6 .u-layout-cell-2 {
        min-height: 562px;
    }

    .u-section-6 .u-list-1 {
        width: 379px;
    }

    .u-section-6 .u-repeater-1 {
        grid-template-columns: 100%;
    }

    .u-section-6 .u-text-2 {
        width: auto;
        margin-top: -20px;
        margin-left: 45px;
    }

    .u-section-6 .u-text-3 {
        width: auto;
        margin-top: 19px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .u-section-6 .u-text-4 {
        width: auto;
        margin-top: -20px;
        margin-left: 45px;
    }

    .u-section-6 .u-text-5 {
        width: auto;
        margin-top: 19px;
        margin-left: 1px;
        margin-right: 1px;
    }

    .u-section-6 .u-text-6 {
        width: auto;
        margin-top: -20px;
        margin-left: 45px;
    }

    .u-section-6 .u-text-7 {
        width: auto;
        margin-top: 19px;
        margin-left: 1px;
        margin-right: 1px;
    }
}

@media (max-width: 991px) {
    .u-section-6 .u-sheet-1 {
        min-height: 1627px;
    }

    .u-section-6 .u-layout-wrap-1 {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .u-section-6 .u-image-1 {
        min-height: 714px;
        transition-duration: 0.5s;
    }

    .u-section-6 .u-container-layout-1 {
        padding: 30px;
    }

    .u-section-6 .u-layout-cell-2 {
        min-height: 793px;
    }

    .u-section-6 .u-list-1 {
        width: 601px;
    }

    .u-section-6 .u-repeater-1 {
        min-height: 556px;
    }

    .u-section-6 .u-text-2 {
        margin-top: -22px;
        margin-left: 47px;
    }

    .u-section-6 .u-text-3 {
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-6 .u-text-4 {
        margin-top: -22px;
        margin-left: 47px;
    }

    .u-section-6 .u-text-5 {
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }

    .u-section-6 .u-text-6 {
        margin-top: -22px;
        margin-left: 47px;
    }

    .u-section-6 .u-text-7 {
        margin-top: 15px;
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width: 767px) {
    .u-section-6 .u-sheet-1 {
        min-height: 823px;
    }

    .u-section-6 .u-image-1 {
        min-height: 605px;
    }

    .u-section-6 .u-container-layout-1 {
        padding-left: 10px;
        padding-right: 10px;
    }

    .u-section-6 .u-layout-cell-2 {
        min-height: 735px;
    }

    .u-section-6 .u-list-1 {
        width: 461px;
    }

    .u-section-6 .u-container-layout-3 {
        padding-right: 10px;
    }

    .u-section-6 .u-text-2 {
        margin-left: 42px;
    }

    .u-section-6 .u-text-3 {
        margin-top: 14px;
    }

    .u-section-6 .u-container-layout-4 {
        padding-right: 10px;
    }

    .u-section-6 .u-text-4 {
        margin-left: 42px;
    }

    .u-section-6 .u-text-5 {
        margin-top: 14px;
    }

    .u-section-6 .u-container-layout-5 {
        padding-right: 10px;
    }

    .u-section-6 .u-text-6 {
        margin-left: 42px;
    }

    .u-section-6 .u-text-7 {
        margin-top: 14px;
    }
}

@media (max-width: 575px) {
    .u-section-6 .u-sheet-1 {
        min-height: 599px;
    }

    .u-section-6 .u-image-1 {
        min-height: 381px;
    }

    .u-section-6 .u-layout-cell-2 {
        min-height: 697px;
    }

    .u-section-6 .u-container-layout-2 {
        padding-left: 20px;
        padding-right: 20px;
    }

    .u-section-6 .u-text-1 {
        font-size: 1.5rem;
        margin-top: 0;
    }

    .u-section-6 .u-list-1 {
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-6 .u-repeater-1 {
        min-height: 520px;
    }

    .u-section-6 .u-container-layout-3 {
        padding-bottom: 20px;
    }

    .u-section-6 .u-text-2 {
        font-size: 1.25rem;
        margin-left: 39px;
    }

    .u-section-6 .u-text-3 {
        font-size: 1rem;
        margin-top: 26px;
    }

    .u-section-6 .u-container-layout-4 {
        padding-bottom: 20px;
    }

    .u-section-6 .u-text-4 {
        font-size: 1.25rem;
        margin-left: 39px;
    }

    .u-section-6 .u-text-5 {
        font-size: 1rem;
        margin-top: 26px;
    }

    .u-section-6 .u-container-layout-5 {
        padding-bottom: 20px;
    }

    .u-section-6 .u-text-6 {
        font-size: 1.25rem;
        margin-left: 39px;
    }

    .u-section-6 .u-text-7 {
        font-size: 1rem;
        margin-top: 26px;
    }
}

.u-section-6 .u-image-1,
.u-section-6 .u-image-1:before,
.u-section-6 .u-image-1 > .u-container-layout:before {
    transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-6 .u-image-1.u-image-1.u-image-1:hover {
    transform: scale(1.1) translateX(0px) translateY(0px) rotate(0deg) !important;
}

.u-section-6 .u-image-1.u-image-1.u-image-1.hover {
    transform: scale(1.1) translateX(0px) translateY(0px) rotate(0deg) !important;
}

.u-section-6 .u-container-layout:hover .u-image-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-6 .u-image-1 {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}